<configuration>
  <system.webServer>
    <rewrite>
      <rules>
	  	<rule name="all1">
          <match url="/dist/*" />
          <action type="Rewrite" url="/dist/*" />
        </rule>
		<rule name="all">
          <match url="^((?!dist).)*$" />
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>